{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center mb-4 text-light fw-bold">Horários Disponíveis</h2>
    
    <div class="alert shadow-sm mb-5" style="background-color: #1d0b33; border: 1px solid #5c2092; border-left: 5px solid #a755f7;">
        <h5 class="fw-bold mb-3" style="color: #d4adfc;">
            📢 Aviso Importante
        </h5>
        <p class="mb-2 text-light small" style="line-height: 1.6;">
            Informamos que solicitações de troca de horário ou cancelamento de reserva deverão ser realizadas com, no mínimo, <strong>2 horas de antecedência</strong>.
        </p>
        <p class="mb-3 text-light small" style="line-height: 1.6;">
            Em caso de solicitação de troca de vaga para outra turma, a alteração estará sujeita à disponibilidade, sendo necessário verificar previamente a quantidade de pessoas já inscritas na turma desejada.
        </p>
        <p class="mb-0 small fst-italic" style="color: #bfa3df;">
            Agradecemos a compreensão e colaboração de todos.
        </p>
    </div>
    <div class="row">
        {% for horario in horarios %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center d-flex flex-column justify-content-center">
                        <h5 class="card-title text-primary mb-1 fw-bold">
                            {{ horario.get_dia_semana_display }}
                        </h5>
                        <p class="text-secondary small mb-3">
                            Próxima aula: <span class="text-light fw-bold">{{ horario.proxima_data|date:"d/m" }}</span>
                        </p>
                        <p class="fs-3 fw-bold mb-2 text-light">
                            {{ horario.hora_inicio|time:"H:i" }} às {{ horario.hora_fim|time:"H:i" }}
                        </p>
                        <p class="text-muted small mb-4">Vagas: {{ horario.vagas_totais }}</p>
                        
                        <a href="{% url 'detalhes_reserva' horario.id %}" class="btn btn-roxo w-100 py-2 fw-bold mt-auto">
                            Reservar Vaga (R$ 20,00)
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12 text-center mt-5">
                <div class="alert alert-dark border-secondary text-light" role="alert">
                    🏹 Nenhum horário disponível no momento.
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}